.important {
  color: green;
}

.unimportant {
  color: purple;
}


#line1 {
  font-style: italic;
}

.special {
  color: red;
}

.sidebar {
  width: 35%;
  float:right;
  background-color: #e0c9db;
}
