.important {
  color: green;
}

.unimportant {
  color: purple;
  border: 2px solid yellow;
  padding: 5px;
  margin: 12px;
  background-color: #cee5d6;
}


#line1 {
  font-style: italic;
}

.special {
  color: red;
}

.sidebar {
  width: 35%;
  float:right;
    background-color: #e0c9db;
}

.favorite-things {
  border:3px;
  padding: 5px;
  margin:12px;
}

.crows {
  background-color: pink;
  font-size: 25px;
  font-style: italic;
  color: green;
}

.Robins {
  background-color: pink;
  font-size: 25px;
  font-style: italic;
  color: green;
}

.Hummingbirds {
  background-color: pink;
  font-size: 25px;
  font-style: italic;
  color: green;
}

.Swallows {
  background-color: pink;
  font-size: 25px;
  font-style: italic;
  color: green;
}
